[general]
title = prplWrt Project
title_url = http://git.prpl.dev/
workdir = .

[phase1]
buildbot_url = https://builder.prpl.dev/
status_bind = tcp:8010:interface=127.0.0.1
status_user = status
status_password = secret
expire = 1209600
port = 9989
external_targets_only = true
cc_version = gt 4.9
git_ssh = true
git_ssh_key =
config_seed = # Seed configuration
	CONFIG_BUILDBOT=y
	CONFIG_DEVEL=y
	CONFIG_CCACHE=n
	CONFIG_KERNEL_KALLSYMS=y
	CONFIG_AUTOREMOVE=y


[repo]
url = https://git.prpl.dev/prplwrt/prplwrt.git
branch = prplwrt-19.07

[external_targets]
intel_mips = src-git,https://git.prpl.dev/prplwrt/feed-intel.git
iwlwav = src-git,https://git.prpl.dev/intel/iwlwav.git

[active_profiles]
rax40 = intel_mips/xrx500

[rsync]
binary_url = user@example.org::data
binary_password = example1
source_url = user@example.org::upload-sources
source_password = example2

[gpg]
key =
passphrase = secret password
comment = Unattended build signature

[usign]
key =
comment =

[worker worker1]
name = worker1
password = secret
