[general]
title = OpenWrt Project
title_url = http://openwrt.org/
workdir = .

[phase1]
buildbot_url = http://localhost:8010/
status_bind = tcp:8010:interface=127.0.0.1
status_user = status
status_password = secret
expire = 1209600
port = 9989
cc_version = gt 4.9
git_ssh = true
git_ssh_key =
config_seed = # Seed configuration
	CONFIG_BUILDBOT=y
	CONFIG_DEVEL=y
	CONFIG_CCACHE=n
	CONFIG_KERNEL_KALLSYMS=y
	CONFIG_AUTOREMOVE=y

[repo]
url = https://git.openwrt.org/openwrt/openwrt.git
branch = master

[rsync]
binary_url = upload@phase1.aparcar.org::data/
binary_password = secret
source_url = user@example.org::upload-sources
source_password = example2

[gpg]
key =

passphrase = secret password
comment = Unattended build signature

[usign]
key =
comment =

[worker 1]
phase = 1
name = buildworker-phase1
password = secret
builds = 1
